section {
    height: 100vh;
}

.page {
    position: relative;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 60vh;
    width: 100px;
    border: 2px solid red;
    border-radius: 20vw;
    top: 20vh;
    right: 5vw;
    bottom: 20vh;
    overflow: hidden;
    opacity: 0;
    z-index: 999;

    animation-name: showCarousel;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.btn {
    width: 100%;
    height: 100px;
    border-radius: 99;
}

.greetings {
    display: grid;
    grid-template-areas: 'hello myName'
        'Bulat Bulat'
        'fullstackDeveloper fullstackDeveloper';
    grid-template-rows: 30% 30% 40%;
    overflow: hidden;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    opacity: 0;
    animation-fill-mode: forwards;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.hello {
    grid-area: hello;
    border-left: 0;
    border-top: 0;
    animation-name: leftToRight;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
}

.myName {
    grid-area: myName;
    border-right: 0;
    border-top: 0;
    animation-name: rightToLeft;
    animation-duration: 2s;
    animation-delay: 1.5s;
}

.Bulat {
    grid-area: Bulat;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    animation-name: bottomToTop;
    animation-duration: 2s;
    animation-delay: 2s;
}

.fullstackDeveloper {
    grid-area: fullstackDeveloper;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    animation-name: topToBottom;
    animation-duration: 2s;
    animation-delay: 3s;
}

.skills {
    border-top: 1px solid #FFFFFF;
}

@keyframes leftToRight {
    from {
        width: 0%;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes rightToLeft {
    0% {
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes topToBottom {
    0% {
        transform: translateY(300px);
    }

    100% {
        border-top: 0;
        opacity: 1;
    }
}

@keyframes bottomToTop {
    0% {
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes showCarousel {
    0% {
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
    }
}